body {
    background: #efaca5;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product {
    width: 30%; 
    margin-bottom: 20px; 
    text-align: center; 
}
.prew {
    height: 400px; 
}
.n1 {
    background: url(../../../img/iphone11.webp);
    background-size: cover;
}
.n2 {
    background: url(../../../img/i12.PNG);
    background-size: cover;
}
.n3 {
    background: url(../../../img/iphone13.webp);
    background-size: cover;
}
.n4 {
    background: url(../../../img/iph14.webp);
    background-size: cover;
}
.n5 {
    background: url(../../../img/iph15.jpg);
    background-size: cover;
}
.n6 {
    background: url(../../../img/iph16.webp);
    background-size: cover;
}
.n7 {
    background: url(../../../img/iph6.jpg);
    background-size: cover;
}
.n8 {
    background: url(../../../img/iph7.jpg);
    background-size: cover;
}
.n9 {
    background: url(../../../img/iph8.webp);
    background-size: cover;
}
footer{
    padding: 10px;
    background:#badd7f ;
    display: flex;
}
ul li{
    display:inline-block;
}
ul{
    background: #badd7f;
}
li{
    padding: 10px;
}